## Basic Table Functions
**For the datascience package**

In [ ]:
from datascience import *

_**Remember to always save your table as a variable, because operations listed below do not modify the original table.**_ Note that the label or the index has to exist in the table, otherwise, the command will generate an error.

| Method                                                                       | Description                                                                           |
|------------------------------------------------------------------------------|---------------------------------------------------------------------------------------|
| `tbl.sort(column_Index)`                | Return a new table sorted by the values in the column from `tbl`, which was specified by the index of a column (remember that columns are counted from 0) |
| `tbl.sort("Column label/name")`               | Return a new table sorted by the values in the column from `tbl`, which was specified by its label (i.e., column name) that was given as a string |
| `tbl.sort(columnIndex_or_label, descedning = False, distinct = False)`     | Return a new table sorted by the values in the column specified as described above. By default, the values are sorted from lowest to highest (i.e., ascending), hence, `descedning = False`, and repeated values (i.e., non-distinct) are displayed (hence, `distinct = False`). |
| `tbl.select(Column_index)` or `tbl.select(Column_index1, Column_index2, ...)`             | Return a new table with the column(s) specified by the index (if just one) or indices (if more than one).     |
| `tbl.select("Column name")` or `tbl.select("Column name1", "Column name2", ...)`             | Return a new table with the column(s) specified by their label(s).     |
| `tbl.column(Column_Index_or_Label)`                                        | Return **an array** with the values of _one_ column; that column was specified by its index or label.          |
| `tbl.take(index)`                                      | Return a new table with the **one** row (from the original table) specified by its index (remember that rows are counted from 0).                                          |
| `tbl.take(array_of_indices)`                                      | Return a new table with the rows specified by **an array** containing the indices of the rows that will be in the new table. The rows will be listed in the same order as specified in the array.                                         |
| `tbl.where(columnIndex_or_label, value_or_condition = None)` | Return a new table containing row(s) where the column values specified by either the column index or column label/name satisy the value or condition.       |

**Predicate Statements for the `where`**

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|

## `Table.sort(column_or_label, descending=False, distinct=False)`
_**Return a Table with rows sorted according to the values in a given column.**_

`column_or_label`: the column whose values are used for sorting.

**`descending`:** if `descending=True`, sorting will be in descending, rather than
ascending order.

**`distinct`:** if `distinct=True`, repeated values in the specified colum will
be omitted.

**Returns:** A new Table containing rows sorted based on the values in the specified column.

Examples:

In [ ]:
#Table for Example 
>>> marbles = Table().with_columns(
...    "Color", make_array("Red", "Green", "Blue", "Red", "Green", "Green"),
...    "Shape", make_array("Round", "Rectangular", "Rectangular", "Round", "Rectangular", "Round"),
...    "Amount", make_array(4, 6, 12, 7, 9, 2),
...    "Price", make_array(1.30, 1.30, 2.00, 1.75, 1.40, 1.00))

In [ ]:
marbles

In [ ]:
marbles.sort("Amount")

In [ ]:
marbles.sort("Amount", descending = True)

In [ ]:
marbles.sort(3) # the Price column

In [ ]:
marbles.sort(3, distinct = True)

In [ ]:
# Another way to run the previous command using a variable
price_column = 3
marbles.sort(price_column, distinct = True)

## `Table.select(*column_or_columns)`
**Return a table with only the columns in column_or_columns.**

`column_or_columns`: Columns to select from the `Table` as either column labels (`string`) or column indices (`int`).

**Returns:**
A new `Table` containing only selected columns. The columns of the new `Table` are in the order given in `column_or_columns`.

**Potential error:**
`KeyError` if any of `column_or_columns` are not in the table.

In [ ]:
#Table for Example
>>> flowers = Table().with_columns(
...     'Number of petals', make_array(8, 34, 5),
...     'Name', make_array('lotus', 'sunflower', 'rose'),
...     'Weight', make_array(10, 5, 6)
... )

In [ ]:
flowers

In [ ]:
flowers.select('Number of petals', 'Weight')

In [ ]:
flowers.select(0, 2)

In [ ]:
# select the name and the number of petals

## `Table.column(index_or_label)`
**Return the values of a column as an array.**

`table.column("Column name")` is equivalent to `table["Column name"]`.

In [ ]:
#Table for Example
>>> tiles = Table().with_columns(
...     'letter', make_array('c', 'd'),
...     'count',  make_array(2, 4),
... )

In [ ]:
tiles.column('letter')

In [ ]:
tiles.column(1)

## `Table.take()`
**Return a new Table with rows selected by the given index.**

**Args:**
`row_indices_or_slice` (integer or array of integers): The row index, list of row indices or a slice of row indices to be selected.

**Returns:**
A new instance of `Table` with selected rows in order corresponding to `row_indices_or_slice`.

**Raises:** 
`IndexError`, if any `row_indices_or_slice` is out of bounds with respect to column length.

In [ ]:
#Table for Example
>>> grades = Table().with_columns('letter grade',
...     make_array('A+', 'A', 'A-', 'B+', 'B', 'B-'),
...     'gpa', make_array(4, 4, 3.7, 3.3, 3, 2.7))

In [ ]:
grades

In [ ]:
grades.take(0)

In [ ]:
grades.take(-1)

In [ ]:
grades.take(make_array(2, 1, 0))

In [ ]:
grades.take[:3]

In [ ]:
grades.take(make_array(0,1,2,3))

_Make sure to call indeces within the range of the length of the rows. See below:_

In [ ]:
# This will generate an error
grades.take(10)

## `Table.where(column_or_label, value_or_predicate=None, other=None)`
**Return a new `Table` containing rows where `value_or_predicate` returns `True` for values in `column_or_label`.**

**Args:**
`column_or_label`: A column of the `Table` either as a label (`str`) or an index (`int`). Can also be an array of booleans; only the rows where the array value is `True` are kept.

`value_or_predicate`: If a function, it is applied to every value in `column_or_label`. Only the rows where `value_or_predicate` returns `True` are kept. If a single value, only the rows where the values in `column_or_label` are equal to `value_or_predicate` are kept.

`other`: Optional additional column label for `value_or_predicate` to make pairwise comparisons. See the examples below for usage. When `other` is supplied, `value_or_predicate` must be a callable function.

**Returns:**
If `value_or_predicate` is a function, returns a new `Table` containing only the rows where `value_or_predicate(val)` is `True` for the values in `column_or_label`.

If `value_or_predicate` is a value, returns a new `Table` containing only the rows where the values in `column_or_label` are equal to `value_or_predicate`.

If `column_or_label` is an array of booleans, returns a new `Table` containing only the rows where `column_or_label` is `True`.

In [ ]:
#Table for Example
>>> marbles = Table().with_columns(
...    "Color", make_array("Red", "Green", "Blue",
...                        "Red", "Green", "Green"),
...    "Shape", make_array("Round", "Rectangular", "Rectangular",
...                        "Round", "Rectangular", "Round"),
...    "Amount", make_array(4, 6, 12, 7, 9, 2),
...    "Price", make_array(1.30, 1.20, 2.00, 1.75, 0, 3.00))

In [ ]:
marbles

In [ ]:
 marbles.where("Price", 1.3)

In [ ]:
# See the list of all predicate statements above
marbles.where("Price", are.above(1.5))

In [ ]:
marbles.where("Price", are.above(1.5)).where("Color", are.not_equal_to("Red"))

In [ ]:
# Why could we get away with not using parentesis (i.e, ()) after are.above?
marbles.where("Price", are.above, "Amount")

In [ ]:
marbles.where("Price", are.equal_to, "Amount")

Can you explain why this is an empty table?